@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tenor Sans";
  src: url("/fonts/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-nohemi: "Nohemi", sans-serif;
  --font-tenor-sans: "Tenor Sans", serif;
}

@theme inline {
  /* Screens */
  --breakpoint-*: initial;
  --breakpoint-sm: 480px; /* @media (min-width: 480px) */
  --breakpoint-md: 768px; /* @media (min-width: 768px) */
  --breakpoint-lg: 1024px; /* @media (min-width: 1024px) */
  --breakpoint-xl: 1280px; /* @media (min-width: 1280px) */
  --breakpoint-2xl: 1536px; /* @media (min-width: 1536px) */

  /* Fonts */
  --font-sans: var(--font-tenor-sans);
  --font-heading: var(--font-nohemi);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-dark-green: #082601;
  --color-neon-green: #00ff00;
  --color-title: #082601;
  --color-para: #262626;

  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@layer utilities {
  .container {
    width: 100%;
    max-width: 1536px; /* 90rem */
    margin-inline: auto;
  }
}

html {
  font-family: var(--font-tenor-sans);
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: normal;
  font-family: "Tenor Sans", "Nohemi", sans-serif;
  background: #fafafa;
  color: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262626;
  font-family: var(--font-nohemi), Arial, Helvetica, sans-serif;
}

.scrolling {
  font-size: 1.4rem;
  animation: scrolling 5s infinite;
}

@keyframes scrolling {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: spin 3s ease-in infinite;
}

/*========== PARTCLES ==========*/
#tsparticles {
  height: 100vh;
  width: 100vw;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 12s linear infinite;
}

@media (min-width: 768px) {
  .animate-marquee {
    animation: none;
    transform: none;
  }
}
